<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rockets</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1 class="page-title">To Infinity, and Beyond!</h1>
    <main class="rockets-container">

      <div id="rocket01" class="card">
        <div class="card__header">
          Rocket 1
        </div>
        <div class="card__body">
         <p>id code: <span id="idCode">none</span></p>
         <p>Booster System: <span id="boosterSystem">none</span></p>
         <p>Max Power: <span id="maxPower">none</span></p>
         <p>Current Power: <span id="currentPower">none</span></p>
        </div>
        <div class="card__footer">
          <button id="create" class="btn btn--primary">Create</button>
          <button id="showData" class="btn btn--warning">Show Data</button>
          <button id="speedUp" class="btn btn--success">Speed Up</button>
          <button id="slowDown" class="btn btn--danger">Slow Down</button>
        </div>
      </div>

      <div id="rocket02" class="card">
        <div class="card__header">
          Rocket 2
        </div>
        <div class="card__body">
         <p>id code: <span id="idCode">none</span></p>
         <p>Booster System: <span id="boosterSystem">none</span></p>
         <p>Max Power: <span id="maxPower">none</span></p>
         <p>Current Power: <span id="currentPower">none</span></p>
        </div>
        <div class="card__footer">
          <button id="create" class="btn btn--primary">Create</button>
          <button id="showData" class="btn btn--warning">Show Data</button>
          <button id="speedUp" class="btn btn--success">Speed Up</button>
          <button id="slowDown" class="btn btn--danger">Slow Down</button>
        </div>
      </div>

    </main>
    <script src="../models/rocket.js"></script>
    <script src="../controllers/controller.js"></script>
  </body>
</html>
